{% extends 'base.html' %}

{% block content %}
<head>
    <h1>All Stock</h1>
</head>

{% for bike in all_bikes %}
    <hr>
    <div>
        <span class="stock_list">
            <b>Manufacturer:</b> {{bike.manufacturer.name}}
            <b>Model:</b> {{bike.model}}
            <b>Description:</b> {{bike.description}}
            <b>Buy Cost:</b> {{bike.buy_cost}}
            <b>Sell Price:</b> {{bike.sell_price}}
        </span>
        <div class="buttons"></div>
            <div class="go_to_bike"></div>
                <a href="/bikes/{{bike.id}}"><button>Go to bike</button></a>
            </div>
        </div>
    </div>
{% endfor %}
    
{% endblock %}

