{% extends "base.html" %}
{% block content %}

<head>
    <h1>Add new bike</h1>
</head>

<form action="/bikes" method="post">

    <div class="new_manufacturer">
        <label for="manufacturer">Manufacturer:</label>
        <select id="manufacturer" name="manufacturer_id">
            {% for manufacturer in all_manufacturers %}
                <option value="{{ manufacturer.id }}">
                    {{ manufacturer.name }}</option>
            {% endfor %}
        </select>
    </div>

    <br>

    <div class="new_model">
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" placeholder="Model" required autofocus>
    </div>

    <br>

    <div class="new_description">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description" required autofocus>
    </div>

    <br>

    <div class="new_buy_cost">
        <label for="buy_cost">Buy Cost:</label>
        <input type="text" id="buy_cost" name="buy_cost" placeholder="Buy Cost" required autofocus>
    </div>

    <br>

    <div class="new_sell_price">
        <label for="sell_price">Sell Price:</label>
        <input type="text" id="sell_price" name="sell_price" placeholder="Sell Price" required autofocus>
    </div>

    <br>

    <div class="new_stock_level">
        <label for="stock_level">Stock Level:</label>
        <input type="text" id="stock_level" name="stock_level" placeholder="Stock Level" required autofocus>
    </div>

    <br>

    <div class="add_button">
        <button type="submit">Add Bike</button>
    </div>

</form>

{% endblock %}