{% extends 'base.html' %}

{% block content %}
<head>
    <h1 class="page_header">Bike Selected</h1>
</head>
<hr>

<div class="center_items">
    <p><h2>{{bike.manufacturer.name}}</h2></p>
    <p><h3>Model: {{bike.model}}</h3></p>
    <p>Description: {{bike.description}}</p>
    <p>Buy Cost: {{bike.buy_cost}}</p>
    <p>Sell Price: {{bike.sell_price}}</p>
    <p>Mark Up: <span style="color: green">+{{bike.mark_up}}%</span></p>
    {% if (bike.stock_level) == 0: %}
        <b>Stock Level:</b> {{bike.stock_level}} <b style="color:red;">OUT OF STOCK</b>
        {% elif (bike.stock_level) < 3: %}
        <b>Stock Level:</b> {{bike.stock_level}} <b style="color: rgb(243, 101, 50);">LOW STOCK</b>
        {% else %}
        <b>Stock Level:</b> {{bike.stock_level}}
    {% endif %}
</div>

<br>

<div class="buttons">
    <div class="button">
        <a href="/bikes/{{bike.id}}/edit">Edit</a>
    </div>

    <br>

    <form class="delete_button" action="/bikes/{{bike.id}}/delete" method="POST">
        <button><b>Delete</b></button>
    </form>
</div>
    
{% endblock %}