{% extends "base.html" %}
{% block content %}

<head>
  <h1>Selected Manufacturer</h1>
</head>

<hr>

<section class="center_items">
  <h2>{{manufacturer.name}}</h2>
  <p>{{manufacturer.location}}</p>
  <p>{{manufacturer.product_type}}</p>
</section>

<div class="buttons">
  <div class="button">
    <a href="/manufacturers/{{manufacturer.id}}/edit">Edit</a>
  </div>

  <br>

  <form class="delete_button" action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
      <button>Delete</button>
  </form>
</div>

{% endblock %}