<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <script src="https://kit.fontawesome.com/128bf6f513.js" crossorigin="anonymous"></script>
    <title> {{ title }} </title>
</head>
<body>
    <main>
      <header class="base_header">
        <section class="header_content">
          <i class="fas fa-motorcycle"></i>
          <h1>Mike's Bikes</h1>
          <i class="fas fa-motorcycle"></i>
      </section>
      </header>
        <nav>          
          <a class="nav_item_home" href="/">Home</a>
          <a class="nav_item_all_stock" href="/bikes/all">All Stock</a>
          <a class="nav_item_manufacturers" href="/manufacturers">Manufacturers</a>            
          <a class="nav_item_bikes" href="/bikes">Bikes</a>         
        </nav>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        <br>
        </section>
        <footer>
          <div>
            <img src="/static/images/footer.png" alt="Footer" class="footer_img">
          </div>
        </footer>
        </main>
</body>
</html>