<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mike's Bikes</title>
</head>
<body>
    <main>
        <h1>Mike's Bikes</h1>
        <nav>
          <ul>
            <li>
              <a href="/all stock">All Stock</a>
            </li>
            <li>
              <a href="/manufacturers">Manufacturers</a>
            </li>
            <li>
                <a href="/bikes">Bikes</a>
              </li>
          </ul>
        </nav>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>
        </main>
</body>
</html>